<section class="product-card">
    <div class="img">
        <img class="img-product" src="./assets/webp/webp-bread.webp" alt="" srcset="">
        <img class="img-shadow" src="./assets/webp/webp-card-shadow.webp" alt="" srcset="">
    </div>
    <!-- ------------------------------------------------------------------------------------------------------------------------------------------- -->
    <div class="details">
        <h4 class="product-title">Bread lorem</h4>
        <!-- ----------------------------- -->
        <section>
            <div class="product-details">
                <span class="category">Category</span>
                <div>
                    <span class="price">30</span>
                    <span class="currency">L.E</span>
                </div>
            </div>
            <div class="icons">
                <button mat-icon-button>
                    <mat-icon matTooltip="Info about the action" matTooltipPosition="above">info</mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>add_shopping_cart</mat-icon>
                </button>
            </div>
        </section>
    </div>
</section>