@use 'src/app/style/index' as * ;


//---------------------------------------------------------------------------------------------------------------------------------------------
.product-card {
    overflow: hidden;
    width: 200px;
    height: 250px;
    padding: 10px;
    @include display-flex;
    @include flex-direction(column);
    border-radius: 50% 50% 10px 10px;
    border: 6px dashed $primary-lite;
    background:
        linear-gradient(0deg, rgba(250, 243, 227, 1) 0%, rgba(252, 225, 154, 1) 35%, rgba(214, 143, 64, 1) 100%) border-box;

    &:hover {

        .img {
            .img-product {
                transform: rotate(20deg);

            }

            .img-shadow {
                width: 100px;
            }
        }
    }

    .img {
        @include display-flex;
        @include flex-direction(column);
        @include align-items(center);
        max-height: 50%;

        .img-product,
        .img-shadow {
            transition: $transition;
        }

        .img-product {
            width: 100px;
        }

        .img-shadow {
            width: 0px;
        }
    }

    .details {


        section {
            @include display-flex();

            .product-title {}

            .product-details {
                .category {}

                div {
                    .price {
                        font-weight: 600;

                    }

                    .currency {
                        font-size: small;
                    }
                }
            }
                .icons {
                    @include display-flex();
                    @include flex-direction(column);

            
                }
            }
        }
    }
