<section class="product-card">
    <div class="img">
        <img class="img-product" src="./assets/webp/webp-bread.webp" alt="" srcset="">
        <img class="img-shadow" src="./assets/webp/webp-card-shadow.webp" alt="" srcset="">
    </div>
    <div class="data">
        <div class="title">
            <h4>Bread lorem</h4>
            <span>30 LE</span>
        </div>
        <!-- <button mat-button >
            <mat-icon
            matTooltip="Info about the action"
            matTooltipPosition="above"
            
            >info</mat-icon>

        </button> -->
        <button mat-raised-button
        matTooltip="Info about the action"
        aria-label="Button that displays a tooltip when focused or hovered over">
  Action
</button>

        <button mat-button>
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
    </div>
</section>