@use '../../../../style/color' as colors;
@use '../../../../style/media-query' as mq;
@use '../../../../style/mixins' as mixins;
@use '../../../../style/variables' as variables;

//---------------------------------------------------------------------------------------------------------------------------------------------
.product-card {
    overflow: hidden;
    width: 200px;
    height: 220px;

    padding: 10px ;
    @include mixins.display-flex;
    @include mixins.flex-direction(column);


    border-radius: 50% 50% 10px 10px;
    border: 6px dashed colors.$primary-lite;
    background:
        linear-gradient(0deg, rgba(250, 243, 227, 1) 0%, rgba(252, 225, 154, 1) 35%, rgba(214, 143, 64, 1) 100%) border-box;

    .img {
        img {
            width: 100px;
        }
    }
}