<section class="home-page">
    <div class="container">
        <header>
            <div class="header-title col-6">
                <h1>Barkery</h1>
                <h2> A little bit of something is better than a whole lot of nothing’ – except when it comes to our desserts!</h2>
            </div>
            <!-- ------------------------ -->
            <div class="header-image col-6">
                <img src="./assets/webp/webp-header-img.webp" alt="" srcset="">
            </div>
        </header>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="clients">

        </div>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="categoy">
            <app-product-card></app-product-card>

        </div>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="tour">

        </div>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="our-view">

        </div>
    </div>
</section>