<section class="home-page">
    <div class="container">
        <header>
            <h2> SOLGAN Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>

            <div class="images">

            </div>
        </header>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="clients">

        </div>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="categoy">

        </div>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="tour">

        </div>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="our-view">

        </div>
    </div>
</section>