<section class="home-page">
    <div class="container">
        <header>
            <div class="header-title">
                <h2> SOLGAN Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
            </div>
            <!-- ------------------------ -->
            <div class="header-image">
                <img src="./assets/webp/webp-header-img.webp" alt="" srcset="">
            </div>
        </header>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="clients">

        </div>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="categoy">
            <app-product-card></app-product-card>

        </div>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="tour">

        </div>
        <!-- --------------------------------------------------------------------------------------------------------------------------------------- -->
        <div class="our-view">

        </div>
    </div>
</section>